<section class="main">
    <section class="first-section">

            <aside class="img">
                <img src="../../../assets/Image.png" alt="" width="800rem" height="750rem">
            </aside>
            <aside class="text">
                <aside class="text-section">
                    <p style="color: #FF9401;font-size:1.4rem ;font-weight: 500;">About As</p>
                    <p style="font-size: 3.5rem;font-weight: 600;">Simple Way of<br> Eating Delicious</p>
                    <p style="font-size: 1.2rem;width: 27rem;">Keep healthy food readily available. When you get hungry, you’re more likely to eat the first thing you see on the counter or in the</p>
                    <button class="horizontal">
                        Explore our story
                    </button>
                </aside>
                    
        </aside>
        

    </section>
    <section class="second-section">
        <section class="feature-content">
            <p style="color: #FF9401;font-size: 1.4rem;font-weight: 500;">Features</p>
            <p style="font-size: 2.6rem;font-weight: 700;">Our Awesome Services</p>
            <aside class="cards">
                <aside class="card">
                    <img src="../../../assets/food.png" alt="">
                    <h2>Quality Food</h2>
                    <p style="width: 13.5rem;font-size: 1.1rem;">Keep healthy food readily available. When you get hungry, you’re more likely to </p>
                </aside>
                <aside class="card">
                    <img src="../../../assets/mouth.png" alt="">
                    <h2>Super Taste</h2>
                    <p style="width: 13.5rem;font-size: 1.1rem;">Keep healthy food readily available. When you get hungry, you’re more likely to </p>
                </aside>
                <aside class="card">
                    <img src="../../../assets/truck.png" alt="">
                    <h2>Fast Delivery</h2>
                    <p style="width: 13.5rem;font-size: 1.1rem;">Keep healthy food readily available. When you get hungry, you’re more likely to </p>
                </aside>
                
            </aside>
        </section>
    </section>

    <section class="third-section">
        <section class="recipes-content">
            <p style="color: #FF9401;font-size: 1.4rem;font-weight: 500;">Recipes</p>
            <aside style="display: flex;justify-content: center;gap: 2rem;align-items: center;"> <p style="font-size: 2.6rem;font-weight: 700;">Most Popular Items </p><img src="../../../assets/1.png" alt="">
            </aside>
           
            <aside class="cards">
                <aside class="card">
                    <img src="../../../assets/Rectangle 30.png" alt="">
                    <aside class="first-layer">
                        <p class="layer-font1">Flame-boiled dish</p><aside class="layer-font2"><i class="fas fa-star layer-font3"></i><p>8.5</p></aside>
                    </aside>
                    <aside class="second-layer">
                        <button class="second-layer-button">ADD TO CART</button><p class="second-layer-text"><i class="fas fa-dollar-sign"></i>19.99</p>
                    </aside>
                </aside>
                <aside class="card">
                    <img src="../../../assets/Rectangle 31.png" alt="">
                    <aside class="first-layer">
                        <p class="layer-font1">Delmonico Steak dish</p><aside class="layer-font2"><i class="fas fa-star layer-font3"></i><p>8.5</p></aside>
                    </aside>
                    <aside class="second-layer">
                        <button class="second-layer-button">ADD TO CART</button><p class="second-layer-text"><i class="fas fa-dollar-sign"></i>20.99</p>
                    </aside>
                </aside>
                <aside class="card">
                    <img src="../../../assets/Rectangle 32.png" alt="">
                    <aside class="first-layer">
                        <p class="layer-font1">Peach Melba dish</p><aside class="layer-font2"><i class="fas fa-star layer-font3"></i><p>9.5</p></aside>
                    </aside>
                    <aside class="second-layer">
                        <button class="second-layer-button">ADD TO CART</button><p class="second-layer-text"><i class="fas fa-dollar-sign"></i>18.99</p>
                    </aside>   
                </aside>
                
            </aside>
            <button class="third-button">
                See More Recipes
            </button>
        </section>
    </section>
    <section class="forth-section">

        <aside class="img">
            <img src="../../../assets/Image (1).png" alt="" width="600rem" height="600rem">
        </aside>
        <aside class="text">
            <aside class="text-section">
                <p style="color: #FF9401;font-size:1.4rem ;font-weight: 500;">Take away</p>
                <p style="font-size: 3.5rem;font-weight: 600;">Simple Way To<br>Order Your Food</p>
                <p style="font-size: 1.2rem;width: 27rem;">Keep healthy food readily available. When you get hungry, you’re more likely to eat the first thing you see on the counter or in the cupboard.</p>
                <aside class="button-grp">
<aside style="background-color: black;">
    <i class="fab fa-apple" style="color: white;font-size: 2.5rem;"></i>
    <aside class="text"  style="color: white;display: flex;flex-direction: column;gap: .4rem;">
        <p  style="font-size: .7rem;">Download on the</p>
        <p>App Store</p>
    </aside>
</aside>
<aside style="background-color: white;border: 2px solid black">
    <i class="fab fa-google-play"  style="color: black;font-size: 2.5rem;"></i>
    <aside class="text"  style="color: black;display: flex;flex-direction: column;gap: .4rem;">
        <p style="font-size: .7rem;">Android App on</p>
        <p>Google Play</p>
    </aside>
</aside>
                </aside>
                
            </aside>
                
    </aside>
    

</section>
<section class="fifth-section">

    <aside class="text">
        <aside class="text-section">
            <p style="color: #FF9401;font-size:1.4rem ;font-weight: 500;">Testimonial</p>
            <p style="font-size: 3.5rem;font-weight: 600;">That’s what our <br> Client Says</p>
            <p style="font-size: 1.2rem;width: 27rem;font-style: italic;">“Food palace is an awesome place. Food is everything we are. It’s an extension of nationalist feeling, ethnic feeling, your personal history, your province”</p>
            <aside class="horizontal">
                <p style="font-size: 1.4rem;font-weight: 600;">Jessica Parker</p>
                <p>Product Designer @ Kitty</p>
            </aside>
        </aside>
            
</aside>
<aside class="img">
    <img src="../../../assets/Image (2).png" alt="" width="700rem" height="550rem">
</aside>


</section>
<section class="footer">
    <aside class="footer-section">
        <aside class="left">
            <img src="../../../assets/Logo.png" alt="">
            <p><i class="fas fa-envelope"></i> info@food_palace.com</p>
            <p><i class="fas fa-globe"></i> Www.Food_palace.com</p>
        </aside>
        <aside class="right">
            <ul>
                <p>Our menu</p>
                <li>Breakfast</li>
                <li>Lunce</li>
                <li>Dinner</li>
            </ul>
            <ul>
                <p>Information</p>
                <li>about us</li>
                <li>testimonial</li>
                <li>event</li>
            </ul>
            <ul>
                <p>useful links</p>
                <li>services</li>
                <li>support</li>
                <li>conditions</li>
            </ul>
            <ul>
                <p>Social Handles</p>
                <li>facebook</li>
                <li>twitter</li>
                <li>youtube</li>
            </ul>
        </aside>
    </aside>
</section>
</section>